body {
	background-image: url("fondo.jpg");
}

th {
	padding-right: 15px;
	padding-left: 15px;
	color: #2F4F4F;
	font-style: italic;
}
.titulo{
	font-size:30px;
	color: green;
}
.inicio{
	text-align:center;
}
h2 {
	font: oblique bold 150% cursive;
}

h1 {
	color: #2F4F4F;
	font-style: italic;
}
.table{
	 width: 100%; 
}
table#t01 tr:nth-child(even) {
    background-color: #E0FFFF;
    
}
table#t01 tr:nth-child(odd) {
   background-color:#E0FFFF;
   
}
table#t01 th	{
    background-color: #191970;
    color: #E0FFFF;
    
}
p,form {
	font: oblique 100% sans-serif bold;
}

.cerrar {
	color: #191970;
}

.img {
	width: 150px;
	height: 100px;
	padding-left: 80px;
}

hr {
	background-color: black;
	height: 5px;
}


#header{
	
	width: 100%;
	font: oblique 100% sans-serif bold;
	
}
ul, ol{
	list-style: none;
}
.nav li a{
	background-color: #40E0D0;
	color: #008080;
	text-decoration: none;
	padding: 20px 40px;
	display: block;
	border-left: 3px solid #191970;
	border-bottom: 1px solid #191970;
}

.nav > li{
	float: left;
}

.nav li a:hover{
	background-color: #00FFFF;
	
}
.nav li ul{
	display: none;
	position: absolute;
	min-width: 140 px;
}
.nav li:hover > ul{
	display: block;
}
.nav li ul li{
	position: relative;
}
.nav li ul li ul{
	right: -140 px;
	top: 0 px;
}
.body {
	float: left;
	background-color: #7FFFD4;
	width: 90%;
	padding: 30px 30px 30px 30px;
	border: 5px solid;
	margin: 30px;
}